extends layout

block content
  div.container
    div.d-flex.justify-content-center.h-100
      div.card
        div.card-header
          h3= "Sign In"
          div.d-flex.justify-content-end.social_icon
            span
              i.fab.fa-facebook-square
              i.fab.fa-google-plus-square
              i.fab.fa-twitter-square
        div.card-body
          form(method="POST" action="/submit-form")
            div.input-group.form-group
              div.input-group-prepend
                span.input-group-text
                  i.fas.fa-user
              input(type="text" name="username" class="form-control" placeholder="username" required autofocus)
            div.input-group.form-group
              div.input-group-prepend
                span.input-group-text
                  i.fas.fa-key
              input(type="password" name="password" class="form-control" placeholder="password" required autofocus)
            div.row.align-items-center.remember
              input(type="checkbox")
              | Remember Me
            div.form-group
              input(type="submit" value="login" class="btn float-right login_btn")
        div.card-footer
          div.d-flex.justify-content-center.links Dont' Have an Account?
            a(href="#") Sign In
          div.d-flex.justify-content-center
            a(href="#") Forgot your password?
